/* The fold button. */
.map-controls-fold {
  position: fixed;
  margin-top: 64px;
  margin-left: -80px;
  cursor: pointer;
  width: 72px;
  height: 64px;
  z-index: 100;
}

.map-control-fold-off {
  opacity: 0;

  /* Set the speed of this animation. */
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
