.map-control-regions {
  position: fixed;
  top: 192px;
  right: calc(20vw - 64px);

  z-index: -100;
}

.map-control-regions-on {
  opacity: 1;

  /* Set the speed of this animation. */
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.map-control-regions-off {
  opacity: 0;

  /* Set the speed of this animation. */
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
