.map-controls-options-container {
  border: 16px solid transparent;

  box-sizing: border-box;

  width: auto;
  height: auto;

  margin: 0 12px 12px 0px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.map-controls-options-container-png {
  border-image: url('../../../../images/controls/filter_container.png') 32 round;
}

.map-controls-options-container-webp {
  border-image: url('../../../../images/controls/filter_container.webp') 32 round;
}

.map-controls-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.map-controls-option-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.map-controls-option-slider > .rc-slider-rail {
  background-color: #ccc;
}

.map-controls-option-label {
  flex-grow: 1;
}

.map-controls-options-subtitle {
  text-align: center;
  width: 100%;
  font-size: 12px;
  font-style: italic;
  display: inline-block;

  margin: 0 0 8px 0;
}

.map-controls-option-button {
  width: 140px;
}
