{
  "presets": ["@babel/preset-react"],
  "plugins": [
    ["@babel/plugin-proposal-optional-chaining", {}],
    [
      "babel-plugin-root-import",
      {
        "rootPathPrefix": "~",
        "rootPathSuffix": "src"
      }
    ]
  ]
}
