.popup-submit-editor-data-content {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 32px;
  align-items: center;
}

.popup-submit-editor-data-header {
  display: inline-block;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

.popup-submit-editor-data-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.margin-bottom {
  margin-bottom: 12px;
}

.popup-submit-editor-data-form-content {
  text-align: center;
  font-size: 16px;
  border: 16px solid transparent;

  box-sizing: border-box;

  height: auto;

  margin: 12px 0px 12px 0px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.popup-submit-editor-data-form-content-png {
  border-image: url('../../images/controls/filter_container.png') 32 round;
}

.popup-submit-editor-data-form-content-webp {
  border-image: url('../../images/controls/filter_container.webp') 32 round;
}

.popup-submit-editor-data-field-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4px 0px 4px 0px;
}

.popup-submit-editor-data-field-dropdown {
  min-width: 160px;
}

.popup-submit-editor-data-field-container:first-child {
  padding: 12px 0 0 0;
}

.popup-submit-editor-data-field-container > span {
  margin: 0 12px 0 0;
}

.popup-submit-editor-data-field-subtitle {
  font-size: 10px;
  font-style: italic;
  padding: 0 0 0 0;
}

.popup-submit-editor-data-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.popup-submit-editor-data-button {
  display: inline-block;
  border: 2px solid black;
  border-radius: 8px;
  box-sizing: border-box;

  text-align: center;

  cursor: pointer;

  margin: 4px 4px 4px 4px;
  padding: 16px 80px 16px 80px;

  font-size: 24px;

  color: #000;
  background-color: #9e9e9e;
}

.popup-submit-editor-data-button-confirm-enabled {
  background-color: #313131;
  color: #7cb342;
}

.popup-submit-editor-data-button-confirm-disabled {
  background-color: #111;
  color: #616161;
  cursor: default;
}

.popup-submit-editor-data-button-confirm-enabled:hover {
  background-color: #414141;
}

.popup-submit-editor-data-button-cancel {
  background-color: #313131;
  color: #ff5d42;
}

.popup-submit-editor-data-button-cancel:hover {
  background-color: #414141;
}
