.map-controls-category {
  display: inline-block;
  border: 2px solid black;
  border-radius: 8px;
  box-sizing: border-box;

  text-align: center;

  cursor: pointer;

  margin: 4px 4px 4px 4px;
  padding: 8px 4px 8px 4px;

  flex: 1 0 25%;
}

.map-controls-category-active {
}
