.map-controls-features-box {
  border: 16px solid transparent;

  width: calc(100% - 16px);
  min-height: 360px;
  margin: 0px 0px 12px 0px;

  box-sizing: border-box;

  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.map-controls-features-box-png {
  border-image: url('../../../images/controls/filter_container.png') 32 round;
}

.map-controls-features-box-webp {
  border-image: url('../../../images/controls/filter_container.webp') 32 round;
}
