body,
body > textarea {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* A convenience class, used in various places. */
.display-none {
  display: none !important;
}
.flex-grow {
  flex-grow: 1;
}

/** Firefox workaround for https://github.com/Leaflet/Leaflet/issues/4686 */
.leaflet-fade-anim .leaflet-tile,
.leaflet-zoom-anim .leaflet-zoom-animated {
  will-change: auto !important;
}

.label-tooltip {
  /* text-decoration-style: dotted; */
  text-decoration: black underline dotted;
  cursor: pointer;
}

/* SVGs should fill with the current text color. */
svg {
  fill: currentColor;
}
