.map-controls-category-container {
  border: 16px solid transparent;
  border-image: url('../../images/controls/filter_container.png') 32 round;

  box-sizing: border-box;

  width: auto;
  height: auto;

  margin: 0 12px 12px 0px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.map-controls-category {
  display: inline-block;
  border: 2px solid black;
  border-radius: 8px;
  box-sizing: border-box;

  text-align: center;

  cursor: pointer;

  margin: 4px 4px 4px 4px;
  padding: 8px 4px 8px 4px;
}

.map-controls-category-active {
}
