.map-controls-main {
  /* Position and size the element */
  position: relative;
  top: 0;

  margin: 12px 12px 12px 12px;
  padding: 12px 0 0 12px;

  /* Border image. */
  border: 16px solid transparent;

  /* Background color. Padding-box prevents extending beyond the border. */
  background-color: #f0e9e2;
  background-clip: padding-box;

  box-sizing: border-box;

  min-height: 680px; /* Needed to fit region tabs. */
  height: 90vh;
  max-height: 1000px;

  pointer-events: auto;

  overflow: hidden auto;

  display: flex;
  flex-direction: column;
}

.map-controls-main-png {
  border-image: url('../../images/controls/control_border.png') 32 round;
}

.map-controls-main-webp {
  border-image: url('../../images/controls/control_border.webp') 32 round;
}

.map-controls-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;

  pointer-events: none;
}

.map-controls-main-closed {
  right: calc(-1 * 92.5%);

  /* Set the speed of this animation. */
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.map-control-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 0 12px 0;
}

.map-control-header-text {
  text-align: center;
  font-size: 24px;
  margin: 0 0 0 12px;
}

.map-controls-main-open {
  right: calc(-1 * 5%);

  /* Set the speed of this animation. */
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.map-controls-tab-container {
  display: flex;
  flex-direction: row;
  margin: 0px 12px 6px 0px;
  flex-wrap: wrap;

  align-items: center;
}

.map-controls-tab {
  display: inline-block;
  border: 2px solid black;
  border-radius: 8px;
  box-sizing: border-box;

  text-align: center;

  cursor: pointer;

  margin: 4px 4px 4px 4px;
  padding: 8px 4px 8px 4px;

  flex-grow: 1;

  /*
  Two tabs per row.
  flex: 0 calc(50% - 8px);
  */

  color: #000;
  background-color: #9e9e9e;
}

.map-controls-tab-active,
.map-controls-tab:hover {
  background-color: #607d8b;
}

/* Media queries: XXS (0px - 479px) */
@media screen and (max-width: 479px) {
  .map-controls-main {
    width: 100%;
    margin: 0;
    height: 100vh;
    min-height: auto;
    max-height: auto;
  }
  .map-controls-main-open {
    right: 0;
  }
  .map-controls-main-closed {
    right: calc(-1 * 95%);
  }
}

/* Media queries: XS (480px - 599px) */
@media screen and (min-width: 480px) and (max-width: 599px) {
  .map-controls-main {
    width: 100%;
    height: 100vh;
    min-height: auto;
    max-height: auto;
  }
  .map-controls-main-open {
    right: 0;
  }
  .map-controls-main-closed {
    right: calc(-1 * 80%);
  }
}

/* Media queries: SM (600px - 959px) */
@media screen and (min-width: 600px) and (max-width: 959px) {
  .map-controls-main {
    width: 60vw;
  }
}

/* Media queries: MD (960px - 1279px) */
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .map-controls-main {
    width: 40vw;
  }
}

/* Media queries: LG (1280px - 1919px) */
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .map-controls-main {
    width: 30vw;
  }
}

/* Media queries: xl (1920px+) */
@media screen and (min-width: 1920px) {
  .map-controls-main {
    width: 20vw;
  }
}
