.map-controls-about-help-container {
  border: 16px solid transparent;

  box-sizing: border-box;

  width: auto;
  min-height: 0; /* Force to fit the parent. */

  overflow-y: auto;

  margin: 0 12px 12px 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.map-controls-about-help-container-png {
  border-image: url('../../../../images/controls/filter_container.png') 32 round;
}

.map-controls-about-help-container-webp {
  border-image: url('../../../../images/controls/filter_container.webp') 32 round;
}

.map-control-about-help-content {
  width: 100%;
  font-size: 16px;

  margin: 0 0 8px 0;
}
