.map-marker-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-marker-popup-title {
  size: 20px;
  text-align: center;
}

.map-marker-popup-content {
}

.map-region-label-marker {
  background-color: transparent;
  /* margin: 0% 50% 0% -50% !important; */
  /* position: relative; */
  width: auto !important;
  /* height: auto !important; */
}

.map-region-label-text {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  white-space: nowrap;
  color: white;
  font-size: 1.75em;
  font-weight: bold;

  width: auto !important;
  position: relative;
  left: -50%;
}

.map-marker-popup-completion-time {
  text-align: center;
  font-size: 10px;
  font-style: italic;
}

.map-marker-popup-image {
  margin: 4px 0 4px 0;
  width: 192px;
  height: 192px;
  /* TODOL Is there some way to clip off the sides instead of squashing the image? */
}

.map-marker-cluster {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.marker-cluster span {
  line-height: 30px;
}

.map-marker-cluster-svg {
  width: 100%;
  height: 100%;
  z-index: 0 !important;
}

.map-marker-cluster-img {
  position: absolute;
  width: 55%;
  height: 55%;
  top: 14%;
  z-index: 100;
}

.map-marker-cluster-label {
  position: absolute;
  top: -21px;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 5px;
  border-radius: 10px;
  padding-bottom: 1px;
  pointer-events: none;
}
