.myPopTitle {
  display: inline-block;
  position: relative;
  flex-direction: column;
  padding: 0px;
  left: 17px;
  margin-top: 14px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3));
}

.myPopName {
  position: block;
  font-family: font;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 100%;
  color: #4b5368;
  order: 0;
  margin: 2px 0;
}

.myPopLine {
  display: inline-block;
  position: relative;
  width: 312px;
  height: 0px;
  left: 17px;
  margin-top: 15px;
  border: 1px solid #e1d5bf;
}

.myPopComment {
  display: block;
  position: relative;
  width: 100%;
  margin: 14px 0 0 0;
  padding: 0 17px;
  font-family: font;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  align-items: center;
  color: #4b5368;
  cursor: pointer;
}

.myPopComment span {
  display: inline-block;
  margin-right: 10px;
}

.Select {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 14px;
  top: 50%;
  margin-bottom: 2px;
  transform-origin: 50% 50% 0;
  transition: transform 0.5s;
}

.myPopComment.disable img {
  transform: rotate(-180deg);
  opacity: 0.2;
}

.myPopPicture {
  position: relative;
  overflow: hidden;
  width: 312px;
  height: 326px;
  margin: 0 auto;
}

.myPopPicture.disable {
  height: 0;
}

.myPopPicture img {
  display: inline-block;
  margin-top: 14px;
  width: 100%;
  box-sizing: border-box;
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 9px;
}
